@font-face{
    font-family: ubuntu;
    src: url('/ubuntu/Ubuntu-Regular.ttf');
}

#Maincomponent{
    font-family: ubuntu;
}

canvas{
    background: url("/img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index:-1;
}
